<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
</head>
<body>
	<h1>Users</h1>
	<%= @users %>
	<!-- <table>
		<thead>
			<tr>
				<th><p>id</p></th>
				<th><p>name</p></th>
				<th><p>created at</p></th>
				<th><p>updated at</p></th>
			</tr>
		</thead>
		<tbody>
			<%= @users.each do |user| %>
			<tr>
				<td><p><%= user.id %></p></td>
				<td><p><%= user.name %></p></td>
				<td><p><%= user.created_at %></p></td>
				<td><p><%= user.updated_at %></p></td>
			</tr>
			<%= end %>
		</tbody>
	</table>
 -->
</body>
</html>
